<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Create a new post</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand text-light" href="/" style="font-size: 15px;">S1lur's imageboard</a>
            {% if g.user.is_authenticated %}
            <button type="button" class="btn btn-success" onclick="localtion.href='/newpost.html'">+</button>
            {% endif %}
            <ul class="navbar-nav ml-auto" style="display: inline-block;">
                {% if not g.user.is_authenticated%}
                <li class="nav-item" style="display: inline-block;">
                    <button type="button" class="btn btn-success ml-auto" onclick="location.href='/login'" style="margin-right:-15px; transform: scale(0.8)">Login</button>
                </li>
                <li class="nav-item" style="display: inline;">
                    <button type="button" class="btn btn-outline-success ml-auto" onclick="location.href='/signup'" style="transform: scale(0.8);">Sign up</button>  
                </li>
                {% endif %}
                {% if g.user.is_authenticated %}
                <li class="nav-item" style="display: inline-block;">
                    <button type="button" class="btn btn-success ml-auto" onclick="location.href='/settings'" style="transform: scale(0.8);">Settings</button>
                </li>
                {% endif %}
            </ul>     
        </nav>
        <div style="margin-top:6%; width: 100%;"></div>
        <form method="POST" enctype=multipart/form-data>
            <div class="form-group\">
                <label for="title" style="margin-left:20px;">Thread title:</label>
                <input type="text" name="threadTitle" class="form-control" style="width:80%; margin-left:20px;" placeholder="Title here...">
                <label for="descText" style="margin-left:20px;">Tell users about new thread:</label>
                <textarea type="text" name="descText" class="form-control d-flex align-bottom" rows="6" style="margin-left:20px; width:80%;" placeholder="Thread description here..."></textarea>
               <label class="btn btn-success" style="position:absolute; margin-top:6px; margin-left:85px;">
                    Browse&hellip; <input type="file" accept="image/*" name="photo" style="display: none;">
               </label>
               <input type="hidden" name="csrftoken" value={{g.user.csrf_token}}>
            </div>
            <button type="submit" class="btn btn-success align-bottom" style="margin-left:20px; margin-top:6px;">Post</button>
        </form>
        <div style="bottom: 5px; position: absolute; width: 100%; background-color:#fff;"></div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       
    </body>
</html>